/**
 * Global styles applied to all non-woocommerce theme components.
 * Includes styles for:
 *
 * Typography
 * Header
 * Footer
 * Main content area
 * Accessiblity helper classes
 * 404
 * Comments
 * Content (posts etc)
 * Forms
 * Media
 * Menus
 * pagination
 * Post formats
 * Widgets
 */

// Utilities
// Sass tools and helpers used across the project.
@import "../sass/utils/mixins";

/**
 * Typography
 */

body {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

body,
button,
input,
textarea {
	color: var(--text_color);
	font-family: $base-font;
	line-height: 1.618;
	text-rendering: optimizeLegibility;
	font-weight: 400;
}

select {
	appearance: base-select;
	font-family: $base-font;
	max-width: 100%;
	font-weight: 500;
	padding: var(--padding-small) var(--padding-large);
	background-color: var(--button_background_color);
	color: var(--button_text_color);
	border: var(--border-thin) solid var(--border_color);
	border-radius: var(--rounded-corner-small);

	&:hover {
		filter: brightness(var(--brightness-on-hover));
	}

	&::picker(select) {
		appearance: none;
		padding: var(--padding-small) var(--padding-large);
	}

	&:open::picker-icon {
		rotate: 180deg;
		transition: 200ms rotate;
	}

	&::picker-icon {
		transition: 200ms rotate;
	}
}

// Fix outdated summary style from _normalize.scss which prevents the arrow from appearing
summary {
	display: list-item;
}

// Remove focus styles for non-keyboard focus
:focus:not(:focus-visible),
:focus-visible {
  	outline: 0;
  	box-shadow: none;
}

// Add back focus for tab navigation
:focus,
.focus-visible:focus:not(:focus-visible) {
	// Outline can be cut off
	outline: 0;
	// So use inset box shadow instead
	box-shadow: var(--focus-inner-shadow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 300;
	margin: 0 0 var(--space-around);
	color: var(--heading_color);
	text-align: center;

	a {
		font-weight: 300;
	}
}

h1,
.alpha {
	font-size: var(--font-size-title);
	line-height: 1.214;
	letter-spacing: -1px;
}

h2,
.beta {
	font-size: var(--font-size-subtitle);
	line-height: 1.214;

	& + h3 {
		border-top: 1px solid var(--border_color);
		padding-top: var(--space-around);
	}
}

h3,
.gamma {
	font-size: var(--font-size-base);
}

h4,
.delta {
	font-size: var(--font-size-base);
}

.alpha,
.beta,
.gamma,
.delta {
	display: block;
}

p,
ul,
ol,
table,
blockquote,
form {

	& + h2,
	& + header h2,
	& + h3,
	& + h4 {
		margin-top: var(--space-around);
	}
}

hr {
	background-color: var(--border_color);
	border: 0;
	height: 1px;
	margin: 0 0 var(--space-around);
}

p {
	margin: 0 0 var(--space-around);
	text-align: justify;
}

ul,
ol {
	margin: 0 0 var(--space-around) 3em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: var(--space-around);
}

dt {
	font-weight: 600;
}

dd {
	margin: 0 0 var(--space-around);
}

b,
strong {
	font-weight: 600;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	padding: 0 var(--space-around);
	border-left: 3px solid rgba(0, 0, 0, 0.05);
	font-style: italic;
}

address {
	margin: 0 0 var(--space-around);
}

pre {
	background: rgba(#000, 0.1);
	font-family: "Courier 10 Pitch", Courier, monospace;
	margin-bottom: var(--space-around);
	padding: var(--space-separation);
	overflow: auto;
	max-width: 100%;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 0.202em var(--space-around);
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	text-decoration: none;
	font-weight: 600;
	background: transparent;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: 0.5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
	display: block;
	border-radius: 3px;
}

a {
	color: var(--link_color);
	text-decoration: none;
}

a:not(.button) {
	&:hover {
		text-shadow: var(--glow);
		filter: brightness(var(--brightness-on-hover));
	}

	&.disabled,
	&:disabled {
		opacity: 0.5 !important;
		cursor: not-allowed;
		filter: saturate(50%);

		&:hover {
			opacity: 0.5 !important;
			filter: saturate(50%);
		}
	}
}

// Wait, what..?
.storefront-cute * {
	font-family: "Comic Sans MS", sans-serif;
}

/**
 * Global styles
 */
* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(var(--background_color), var(--background_color_dark));
	overflow-x: hidden;
}

.site {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.site-content,
.header-widget-region {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.post {
	border-color: var(--border_color);
	border-bottom-style: solid;
	border-width: var(--border-thick);
	padding-bottom: var(--space-separation);
}

/**
 * Header
 */
.site-header {
	background: 
		radial-gradient(
			circle at center, 
			var(--header_background_color) 0%, 
			var(--header_background_color_dark) 100%
		)
	;

	.site-header-inner {
		@include flex-row-header-footer;
		align-items: center;
		margin: auto;
		width: 100%;
		max-width: 1350px;

		backdrop-filter:
			blur(var(--backdrop_blur))
			brightness(var(--backdrop_brightness));
	}

	.site-logo-anchor,
	.site-logo-link,
	.custom-logo-link {
		display: block;
		margin-bottom: 0;

		img {
			width: 100%;
			max-width: 210px;
		}
	}

	.widget {
		margin-bottom: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--header_text_color);
	}

	a {
		color: var(--header_text_color);
	}
}

.header-widget-region {

	@include clearfix;
	position: relative;
	z-index: 99;

	.widget {
		margin: 0;
		padding: 1em 0;
		font-size: var(--font-size-small);
	}
}

.site-branding {
	margin-bottom: 0;

	.site-title {
		text-align: center;
		font-size: 2em;
		letter-spacing: -1px;
		margin: 0;

		a {
			font-weight: 700;
		}
	}

	.site-description {
		text-align: center;
		color: var(--header_text_color);
		font-size: var(--font-size-small);
	}

	.logo {
		margin: 0;
	}
}

/**
 * Main content area
 */
.site-main {
	margin-bottom: var(--space-separation);
}

.site-content {
	width: 100%;
	flex-grow: 1;
	
	outline: none;

	&:focus-visible {
		box-shadow: none;
	}
}

.content-area {
	background: linear-gradient(var(--container_color), var(--container_color_dark));
	box-shadow: var(--drop-shadow);
	border-radius: var(--rounded-corner-large);
}

.widget-area {
	background: linear-gradient(var(--container_color));
	box-shadow: var(--drop-shadow);
	border-radius: var(--rounded-corner-large);
}

.page-template-template-homepage:not(.has-post-thumbnail) {

	.site-main {
		padding-top: var(--space-separation);
	}
}

.page-template-template-homepage {

	.type-page {
		padding-top: var(--space-separation);
		padding-bottom: var(--space-separation);
		position: relative;

		.storefront-hero__button-edit {
			position: absolute;
			top: 1em;
			right: 1em;
			font-size: var(--font-size-small);
		}
	}

	.entry-content {
		font-size: 1.1em;

		p:last-child {
			margin-bottom: 0;
		}
	}

	.entry-header {

		h1 {
			font-size: var(--font-size-title);
			margin-bottom: var(--space-around);
		}
	}

	.entry-content,
	.entry-header {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

.page-template-template-homepage.has-post-thumbnail {

	.type-page.has-post-thumbnail {
		background-size: cover;
		background-position: center center;
		padding-top: var(--space-around);
		padding-bottom: var(--space-around);

		.entry-content,
		.entry-title {
			opacity: 0;
			transition: all, ease, 0.5s;

			&.loaded {
				opacity: 1;
			}
		}
	}
}

/**
 * Footer
 */
.site-footer {
	background-color: var(--footer_background_color);
	color: var(--footer_text_color);
	padding-left: var(--space-around);
	padding-right: var(--space-around);
	padding-bottom: var(--space-around);
	padding-top: var(--space-separation);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--footer_text_color);
	}

	a {
		color: var(--footer_text_color);
		text-decoration: underline;

		@include remove-button-underline();
	}
}

.site-info {
	padding: var(--space-around) 0;

	span[role="separator"] {
		padding: 0 var(--space-around) 0 var(--space-around);

		&::before {
			content: "\007c";
		}
	}
}

/**
 * Alignment
 */
.alignleft {
	display: inline;
	float: left;
	margin-right: var(--space-around);
}

.alignright {
	display: inline;
	float: right;
	margin-left: var(--space-around);
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/**
 * Accessibility
 */
.screen-reader-text {

	@include screen-reader-text;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	display: block;
	font-weight: 700;
	height: auto;
	left: 0;
	line-height: normal;
	padding: 1em var(--space-around);
	text-decoration: none;
	top: 0;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
	outline: none;
}

.screen-reader-text.skip-link:focus {
	clip-path: none;
}


/**
 * Tables
 */
table {
	border-collapse: collapse;

	caption {
		padding: 1em 0;
		font-weight: 600;
	}

	td,
	th {
		text-align: left;
		vertical-align: top;

		p:last-child {
			margin-bottom: 0;
		}
	}

	th {
		font-weight: 600;
	}

	thead {

		th {
			padding: var(--space-around);
			vertical-align: middle;
		}
	}

	tbody {

		h2 {
			font-size: var(--font-size-base);
			letter-spacing: normal;
			font-weight: 400;

			a {
				font-weight: 400;
			}
		}
	}
}

/**
 * 404
 */
.error404 {

	.storefront-fourohfour {
		@include flex-col;

		padding: var(--space-around) 0;
		margin-top: var(--space-separation);
		margin-bottom: var(--space-separation);

	}
}

/**
 * Comments
 */
#comments {
	padding-top: var(--space-separation);

	.comments-title {
		border-bottom: 1px solid var(--border_color);
		padding-bottom: var(--space-around);
		margin-bottom: var(--space-around);
	}

	.comment-list {
		list-style: none;
		margin-left: 0;

		.comment-body {

			@include clearfix;
		}

		.comment-content {
			padding-bottom: var(--space-separation);
			margin-bottom: var(--space-around);

			.comment-text {
				padding: var(--space-separation);
				border-radius: 3px;

				p:last-child {
					margin-bottom: 0;
				}
			}
		}

		.comment-meta {
			margin-bottom: 1em;

			.avatar {
				margin-bottom: 1em;
				max-width: 64px;
				height: auto;
			}

			a.comment-date {
				font-size: var(--font-size-small);
			}

			cite {
				font-style: normal;
				clear: both;
				display: block;
			}
		}


		.reply {

			@include clearfix;
			margin-bottom: var(--space-around);
			padding-top: var(--space-around);

			a {
				display: inline-block;
				margin-right: 1em;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.children {
			list-style: none;
		}
	}
}

.comment-content a {
	word-wrap: break-word;
}

#respond {
	margin-left: var(--space-separation);
	margin-right: var(--space-separation);
	padding: var(--space-around);
	border: var(--border-thin) solid var(--border_color);
	box-shadow: var(--drop-shadow);

	label {
		display: block;
	}

	textarea {
		display: block;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url {

		input {
			width: 100%;
		}
	}

	.form-submit,
	form {
		margin-bottom: 0;
	}

	#cancel-comment-reply-link {
		position: absolute;
		top: 0.2em;
		right: 0.2em;
		display: block;
		height: 1em;
		width: 1em;
		overflow: hidden;
		line-height: 1;
		font-size: var(--font-size-subtitle);
		text-align: center;
		transition: transform, ease, 0.3s;

		&:hover {
			transform: scale(1.3);
		}
	}
}

/**
 * Content
 */
.hentry {
	margin: 0 0 var(--space-separation);

	.wp-post-image {
		margin-bottom: var(--space-around);
		margin-left: auto;
		margin-right: auto;
	}

	.entry-header {
		margin-bottom: 1em;
		border-bottom: 1px solid var(--border_color);

		.posted-on,
		.post-author,
		.post-comments,
		.byline {
			font-size: var(--font-size-small);

			a {

				@include underlined-link();
			}
		}
	}

	.entry-content {

		a {
			text-decoration: underline;

			@include remove-button-underline();
		}
	}

	.entry-taxonomy {
		margin: var(--space-around) 0 0;
		padding-top: 1em;
	}

	&.type-page {

		.entry-header {
			border-bottom: 0;
			margin-bottom: 0;
		}
	}
}

.cat-links,
.tags-links {
	font-size: 0.875em;

	a {
		color: #727272;
		font-weight: 600;
		text-decoration: underline;
	}
}

.byline,
.updated:not(.published) {
	display: none;
}

.single,
.group-blog {

	.byline {
		display: inline;
	}
}

.page-links {
	clear: both;
	margin: 0 0 var(--space-around);
}

/**
 * Forms
 */
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
}

button:not(.show-password-input),
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.wp-block-search__button,
.added_to_cart {
	@include button;

	&::after {
		display: none;
	}

	&.loading {
		opacity: 0.5;
	}

	// Maintain the box shadow used for focus and add drop shadow
	&:focus-visible {
		box-shadow: var(--drop-shadow), var(--focus-inner-shadow);
	}

}

.button.woocommerce-MyAccount-downloads-file {
	@include wrap-break-word;
}

.wc-block-components-button:not(.is-link).disabled,
.wc-block-components-button:not(.is-link):disabled {
	opacity: 0.5;
	cursor: not-allowed;

	&:hover {
		opacity: 0.5;
	}
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */

	box-shadow: var(--drop-shadow);

	& + label {
		margin: 0 0 0 var(--space-around);
	}

	&:focus-visible {
		outline: 2px solid var(--accent_color);
	}
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

input[type="search"] {
	box-sizing: border-box; // Overrules normalize.css.

	&::placeholder {
		color: var(--text_color);
		opacity: 0.6;
	}
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
.input-text,
.select2 {
	padding: var(--padding-small) var(--padding-large);
	background: linear-gradient(var(--box_color), var(--box_color_dark));
	
	color: var(--text_color);
	border: 0;
	-webkit-appearance: none;
	box-sizing: border-box;
	font-weight: 400;

	box-shadow: var(--drop-shadow);
	border: solid var(--border-thin) var(--border_color);

	// Maintain the box shadow used for focus and add drop shadow
	&:focus-visible {
		box-shadow: var(--drop-shadow), var(--focus-inner-shadow);
	}

	&::placeholder {
		color: var(--text_color);
		opacity: 0.6;
	}
}

// Select2 - jquery dropdown menu

// The select2 form field
.select2 {
	.selection {
		.select2-selection {
			background: none; // The container, .select2, has this.
			border: none; // The container, .select2, has this.
			padding: 0; // The container, .select2, has this.

			color: var(--text_color);
			
			span {
				color: var(--text_color);
				padding: 0;
			}

			span.select2-selection__placeholder {
				opacity: 0.6;
			}
		}
	}
}

// The select2 dropdown menu which appears on click
.select2-container {
	
	.select2-selection {
		display: unset;
	}

	// List of choices
	.select2-results {
		ul {
			background-color: var(--box_color);
			color: var(--text_color);

			// The currently hovered option
			.select2-results__option--highlighted {
				background-color: var(--container_color);
				color: var(--accent_color);
			}
		}
	}
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
	resize: vertical
}

label {
	font-weight: 400;
	text-align: left;
}

label.inline {
	
	display: inline !important;
	margin-left: var(--space-around);

	input {
		width: auto;
	}
}

fieldset {
	padding-left: var(--space-separation) !important; // Override normalize
	padding-right: var(--space-separation) !important; // Override normalize
	padding-top: var(--space-around);
	border: var(--border-thin) dashed var(--text_color);
	margin: 0;
	margin-bottom: var(--space-separation);
	margin-top: var(--space-separation);

	legend {
		font-weight: 600;
		margin-left: - var(--space-around);
		padding: 0 var(--space-around);
	}
}

[placeholder]:focus::-webkit-input-placeholder {
	-webkit-transition: opacity 0.5s 0.5s ease;
	-moz-transition: opacity 0.5s 0.5s ease;
	transition: opacity 0.5s 0.5s ease;
	opacity: 0;
}

/**
 * Media
 */
.page-content,
.entry-content,
.comment-content {

	img.wp-smiley {
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
		display: inline-block;
		border-radius: 0;
	}
}

/**
 * Captions
 */
.wp-caption {
	margin-bottom: var(--space-around);
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 0 auto;
	}

	.wp-caption-text {
		text-align: left;
		font-style: italic;
		border-bottom: 2px solid var(--border_color);
		padding: 1em 0;
	}
}

/**
 * Galleries
 */
.gallery {

	@include clearfix;
	margin-bottom: var(--space-around);

	.gallery-item {
		float: left;

		.gallery-icon {

			a {
				display: block;
			}

			img {
				border: none;
				height: auto;
				margin: 0 auto;
			}
		}

		.gallery-caption {
			margin: 0;
			text-align: center;
		}
	}

	&.gallery-columns-1 {

		.gallery-item {
			width: 100%;
		}
	}

	&.gallery-columns-2 {

		.gallery-item {
			width: 50%;
		}
	}

	&.gallery-columns-3 {

		.gallery-item {
			width: 33.3%;
		}
	}

	&.gallery-columns-4 {

		.gallery-item {
			width: 25%;
		}
	}

	&.gallery-columns-5 {

		.gallery-item {
			width: 20%;
		}
	}

	&.gallery-columns-6 {

		.gallery-item {
			width: 16.666666667%;
		}
	}

	&.gallery-columns-7 {

		.gallery-item {
			width: 14.285714286%;
		}
	}

	&.gallery-columns-8 {

		.gallery-item {
			width: 12.5%;
		}
	}

	&.gallery-columns-9 {

		.gallery-item {
			width: 11.111111111%;
		}
	}
}

/**
 * Embeds
 */
embed,
iframe,
object,
video {
	max-width: 100%;
}

/**
 * Pagination
 */

.site-main nav.navigation {

	@include clearfix;

	.nav-previous,
	.nav-next {

		a {
			display: inline-block;
		}
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}

}

.pagination,
.woocommerce-pagination {
	padding: var(--space-around) 0;
	text-align: center;

	.page-numbers {
		list-style: none;
		margin: 0;
		vertical-align: middle;
		line-height: 0.8;

		li {
			display: inline-block;

			.page-numbers {
				border-left-width: 0;
				display: inline-block;
				padding: var(--padding-small) var(--padding-large);
				background-color: var(--box_color);
				color: var(--text_color);

				&.current {
					background-color: var(--box_color);
					border: var(--border-thin) solid var(--text_color);
				}

				&.dots {
					background-color: transparent;
				}

				&.prev,
				&.next {
					padding-left: 2em;
					padding-right: 2em;
				}
				&:hover {
					filter: brightness(var(--brightness-on-hover));
				}
			}
		}
	}
}

.rtl {

	.pagination,
	.woocommerce-pagination {

		a.next,
		a.prev {
			transform: rotateY(180deg);
		}
	}
}

/**
 * Widgets
 */

.search-form {
	@include flex-row-header-footer;
	justify-content: center;
}

.widget {
	
	select {
		max-width: 100%;
	}

	.widget-search .search-submit {

		@include screen-reader-text();
	}

	.widget-title,
	.widgettitle {
		font-size: var(--font-size-subtitle);
		letter-spacing: 0;
		font-weight: 300;
		margin-bottom: 0;
	}

	ul {
		margin-left: 0;
		list-style: none;

		ul {
			margin-left: var(--space-around);
		}
	}
}

.widget-area {

	.widget {
		font-size: var(--font-size-small);
		font-weight: 400;

		h1.widget-title {
			font-size: var(--font-size-subtitle);
		}

		a {

			@include underlined-link();
			@include remove-button-underline();
		}

		a.button {
			font-weight: 600 !important;
		}
	}
}

.widget_search,
.widget_product_search {

	form:not(.wp-block-search) {
		position: relative;

		input[type="text"],
		input[type="search"] {
			width: 100%;
		}

		input[type="submit"],
		button[type="submit"] {

			@include screen-reader-text();
			top: 0;
			left: 0;
		}
	}
}

.widget_recent_entries,
.widget_pages,
.widget_categories,
.widget_archive,
.widget_recent_comments,
.widget_nav_menu,
.widget_links,
.widget_product_categories,
.widget_layered_nav,
.widget_layered_nav_filters {

	ul {
		margin: 0;

		li {
			list-style: none;
			margin-bottom: var(--space-around);
			line-height: 3em;
		}

		.children {
			margin-left: 0;
			margin-top: var(--space-around);
		}
	}
}

#wp-calendar, // Required by WP <=5.3 widget.
.wp-calendar-table {

	th,
	td {
		padding: 0.236em;
		text-align: center;
	}
}

.widget_recent_entries,
.widget_pages {

	ul {

		ul.children {
			margin: var(--space-around) 0 0 var(--space-around);
		}
	}
}

.widget_rating_filter {

	.wc-layered-nav-rating {
		margin-bottom: var(--space-around);

		a {
			text-decoration: none !important;
		}

		.star-rating {
			display: inline-block;
			height: 1em;
			line-height: 1;
		}
	}
}

form.customize-unpreviewable,
form.customize-unpreviewable input,
form.customize-unpreviewable select,
form.customize-unpreviewable button,
a.customize-unpreviewable,
area.customize-unpreviewable {
	text-shadow: unset !important;
}

.logged-in-as {
	a {
		@include underlined-link;
	}
}