/**
 * Strictly Layout Styles
 */

table.shop_table_responsive {

	tbody {

		tr {

			td,
			th {
				text-align: left;
			}
		}
	}
}

.site-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: var(--space-separation);
	padding-bottom: 0;
	margin-bottom: var(--space-separation);

	& > .col-full {
		@include flex-row;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: var(--space-between-outer);
	}

	.site-branding {

		img {
			height: auto;
			max-width: 230px;
			max-height: none;
		}
	}
}

// If a secondary menu is present, put the branding above the main nav menu
.storefront-secondary-navigation {
	.site-header {
		display: block;

		.col-full {
			justify-content: space-between;
		}
	}
}

.site-branding {

	.site-description {
		margin-bottom: 0;
		display: block;
	}
}

// WooCommerce widget container
.storefront-wc-header-widgets {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: var(--space-between-outer);

	flex: 1 1 auto;
}

.col-full {

	margin-left: auto;
	margin-right: auto;
	padding: 0 var(--space-around);
	box-sizing: content-box;
}

.site-content {

	@include clearfix;
}

.storefront-full-width-content {

	.content-area {

		width: 100%;
	}
}

.content-area,
.widget-area {
	margin-bottom: var(--space-separation);
}

/**
* Full width & homepage template
*/
.page-template-template-fullwidth-php,
.page-template-template-homepage-php {

	.content-area {

		width: 100%;
	}
}

/**
* Footer widgets
*/
.footer-widgets {

	@include clearfix;
	padding-top: var(--space-separation);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);

	&.col-2 {

		.block {

			width: 50%;

		}
	}

	&.col-3 {

		.block {

			width: 33%;

		}
	}

	&.col-4 {

		.block {

			width: 25%;

		}
	}
}

/**
* Comments
*/


.comment-list {

	@include clearfix;

	.comment {
		clear: both;
	}

	.comment-meta {

		width: calc(2 / 9 * 100%);
		text-align: right;

		.avatar {
			float: right;
		}
	}

	.comment-content {
		padding-bottom: var(--space-separation);
		margin-bottom: var(--space-separation);
	}

	.comment-content,
	#respond {

		width: calc(7 / 9 * 100%); float: right;
	}

	#respond {
		float: right;

		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			width: 100%;
			margin-right: 0;
		}
	}

	.comment-body {

		#respond {
			box-shadow: 0 6px 2em rgba(#000, 0.2);
			margin-bottom: var(--space-separation);
			margin-top: - var(--space-around);
		}
	}

	.reply {
		clear: both;
		text-align: right;
	}

	ol.children {

		width: calc(8 / 9 * 100%); float: right;
		list-style: none;

		.comment-meta {

			width: 25%;
		}

		.comment-content,
		#respond {

			width: calc(6 / 8 * 100%); float: right;
		}

		ol.children {

			width: calc(7 / 8 * 100%); float: right;

			.comment-meta {

				width: calc(2 / 7 * 100%);
			}

			.comment-content,
			#respond {

				width: calc(5 / 7 * 100%); float: right;
			}

			ol.children {

				width: calc(6 / 7 * 100%); float: right;

				.comment-meta {

					width: calc(2 / 6 * 100%);
				}

				.comment-content,
				#respond {

					width: calc(4 / 6 * 100%); float: right;
				}

				ol.children {

					width: calc(5 / 6 * 100%); float: right;

					.comment-meta {

						width: 40%;
					}

					.comment-content,
					#respond {

						width: calc(3 / 5 * 100%); float: right;
					}
				}
			}
		}
	}
}

#respond {
	padding: var(--space-separation);

	.comment-form-author,
	.comment-form-email,
	.comment-form-url {

		width: calc(3 / 9 * 100%);
	}

	.comment-form-comment {
		clear: both;
	}
}

/**
* Content
*/
.hentry {

	.entry-header {
		margin-bottom: var(--space-separation);
	}
}

/**
* Menus
*
* 1 - Use a `left` declaration so that dropdowns are revealed when tabbed.
*/

.storefront-primary-navigation {
	overflow: auto;
	flex: 1 1 auto;
}

.storefront-primary-navigation > .col-full {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: var(--space-between-outer);
}

.main-navigation,
.secondary-navigation {

	overflow: auto;
	flex: 1 1 auto;
	
	// first level
	ul {
		@include flex-row;
		@include scrollbar-on-hover-x;
		overflow-y: hidden;

		text-align: center;
		list-style: none;
		margin: 0;

		li {
			flex: 1 1 var(--min-button-width);

			a {
				display: block;
				padding: var(--space-around);
			}
		}
		
		// Show submenu on hover
		li.menu-item-has-children:hover {
			ul {
				display: flex;
			}
		}
		// second level
		ul {
			display: none;
			justify-content: flex-start;

			li {

				a {
					padding: var(--space-around);
					font-weight: 400;
					font-size: var(--font-size-small);
				}
			}
		}
	}

}

/**
* Primary Navigation
*/
.primary-navigation {
	display: block;
}

/**
* Secondary Navigation
*/
.secondary-navigation {
	line-height: 1;
	flex: 0 0 35%;

	.menu {
		justify-content: flex-start;
		font-size: var(--font-size-small);

		> li:hover > a {
			text-decoration: none;
		}

		ul {

			a {
				padding: var(--space-around);
				background: rgba(#000, 0.05);
			}

			li:first-child a {
				padding-top: 1em;
			}

			li:last-child a {
				padding-bottom: 1em;
			}

			ul {
				margin-top: - var(--space-around);
			}
		}

		a {
			padding: var(--space-around);
			font-weight: 400;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

/**
* 404 Styles
*/
.error404 {

	.fourohfour-columns-2 {

		.col-1 {

			width: 50%;

			ul.products {
				margin-bottom: 0;
			}
		}

		.col-2 {

			width: calc(6 / 12 * 100%); float: right;
		}
	}
}
