@use "sass:math";

// Utilities
// Sass tools and helpers used across the project.
@import "../sass/utils/variables";
@import "../sass/utils/css-variables";
@import "../sass/utils/mixins";

/**
 * Front-end + editor styles
 */
.hentry .entry-content,
.editor-styles-wrapper {
	// Typography
	.has-small-font-size {
		font-size: var(--font-size-small);
	}

	.has-medium-font-size {
		font-size: var(--font-size-subtitle);
	}

	.has-large-font-size {
		font-size: var(--font-size-subtitle);
	}

	.has-huge-font-size {
		font-size: var(--font-size-title);
	}

	// Audio
	.wp-block-audio {
		margin-bottom: var(--space-around);
		width: 100%;

		audio {
			width: 100%;
		}

		&.alignleft audio,
		&.alignright audio {
		}

		&.aligncenter {
			margin: 0 auto;
			max-width: span(6);
		}
	}

	// Video
	.wp-block-video {
		margin-bottom: var(--space-around);

		video {
			width: 100%;
		}
	}

	// Button container
	.wp-block-button {
		margin-bottom: var(--space-around);

		.wp-block-button__link {
			@include button;
		}

		&.is-style-outline .wp-block-button__link,
		&.is-style-outline .wp-block-button__link:focus,
		&.is-style-outline .wp-block-button__link:active,
		&.is-style-outline .wp-block-button__link:hover {
			background: transparent;
			border: solid var(--border-thin) var(--border_color);
		}
	}

	// Latest posts, categories, archives
	.wp-block-archives,
	.wp-block-categories,
	.wp-block-latest-posts {
		margin: 0 0;
		list-style: outside;
		max-width: var(--content-width-narrow);
	}

	.wp-block-latest-posts {

		&__post-date {
			font-size: var(--font-size-small);
		}

		li {
			margin: 0;
		}

		&.has-dates {

			li {
				margin: 0 0 1em;
			}
		}

		&.is-grid {

			li {
				margin: 0 var(--space-around) 0 0;
			}

			&.has-dates {

				li {
					margin-bottom: 1em;
				}
			}
		}

	}

	// Posts query loop
	.wp-block-post-template {
		margin: 0;
	}

	// Paragraphs
	p {

		&.has-drop-cap {

			&:not(:focus)::first-letter {
				margin: 0.15em var(--space-around) 0 0;
				font-size: var(--font-size-title);
				font-weight: 300;
				line-height: 0.618;
			}
		}
	}

	// Pullquote
	.wp-block-pullquote {
		margin: 0 0;

		blockquote {
			border: 0;
			margin: 0;
		}

		p {
			margin-bottom: var(--space-around);
			font-size: var(--font-size-subtitle);
			line-height: 1.618;
		}
	}

	// Blockquote
	.wp-block-quote {
		margin-bottom: var(--space-around);
		padding: 0 0 0 1em;

		&.is-large,
		&.is-style-large {
			margin: 0 0;
			padding: 0;
			border: 0;

			p {
				font-size: var(--font-size-subtitle);
				line-height: 1.618;
			}
		}

		footer,
		cite,
		&__citation {
			font-size: var(--font-size-base);
			font-weight: 700;
		}
	}

	// Embed
	.wp-block-embed {

		&.alignleft {
			margin-right: var(--space-separation);
		}

		&.alignright {
			margin-left: var(--space-separation);
		}

	}

	// Image
	div.wp-block-image:not(.block-editor-media-placeholder) {
		display: inline;

		figure {
			margin-bottom: var(--space-around);
		}

		.alignleft {
			margin-right: var(--space-separation);
		}

		.alignright {
			margin-left: var(--space-separation);
		}

		figcaption {
			margin: 0;
			padding: var(--space-around) 0;
			font-size: var(--font-size-small);
			font-style: italic;
		}
	}

	figure.wp-block-image {
	}

	// Cover
	.wp-block-cover {
		// < 5.2 styling
		p.wp-block-cover-text {
			font-size: var(--font-size-subtitle);
			font-weight: 300;
			line-height: 1.618;
			padding: var(--space-around);
			width: calc(100vw - 1.618em);
			max-width: calc(100vw - 1.618em);
			color: #fff;
			z-index: 1;
			text-align: center;
		}

		// > 5.2 styling
		.wp-block-cover__inner-container {
			padding: var(--space-around);
			width: calc(100vw - 1.618em);
			max-width: calc(100vw - 1.618em);

			*:nth-last-child(-n+1) {
				margin-bottom: 0;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				padding: 0;
				margin-left: auto;
				margin-right: auto;
			}

			h1 {
				font-size: var(--font-size-title);
				font-weight: bold;
				margin-bottom: var(--space-around);
			}

			h2 {
				font-size: var(--font-size-title);
				font-weight: normal;
				margin-bottom: var(--space-around);
			}

			h3 {
				font-size: var(--font-size-subtitle);
				font-weight: bold;
				margin-bottom: var(--space-around);
			}

			h4 {
				font-size: var(--font-size-subtitle);
				font-weight: normal;
				margin-bottom: var(--space-around);
			}

			h5 {
				font-size: var(--font-size-base);
				font-weight: bold;
				margin-bottom: var(--space-around);
			}

			h6 {
				font-size: var(--font-size-small);
				font-weight: bold;
				margin-bottom: var(--space-around);
			}

			p {

				&:not(.has-small-font-size):not(.has-medium-font-size):not(.has-large-font-size):not(.has-huge-font-size) {
					font-size: 1.1em;
				}

				&:not(.has-text-color) {
					color: #fff;
				}
			}

		}

	}

	// Galleries
	.wp-block-gallery {

		.blocks-gallery-image,
		.blocks-gallery-item {
			width: span(6);
			margin-top: 0;
			margin-right: var(--space-around);
			margin-bottom: 0;
			margin-left: var(--space-around);
			flex-grow: 0;

			&:nth-of-type(even) {
				margin-right: 0;
			}

			figcaption {
				font-size: var(--font-size-base);
				padding: var(--space-around) var(--space-around) var(--space-around);
			}
		}
	}

	// Separator
	.wp-block-separator {
		border: 0;
		margin: 0 auto;
		overflow: hidden;

		&:not(.is-style-wide):not(.is-style-dots) {
			max-width: 10%;
		}
	}

	// Twitter Embed
	.wp-block-embed-twitter {
		overflow: hidden;
	}

	// Table
	.wp-block-table {
		border-collapse: separate;

		td,
		th {
			border: 0;
			padding: 1em var(--space-around);
			word-break: normal;
		}

		thead {

			th {
				padding: var(--space-around);
			}
		}
	}

	// File
	.wp-block-file {
		margin-bottom: var(--space-around);

		.wp-block-file__button {
			@include button;
		}
	}

	// Code
	.wp-block-code,
	.wp-block-preformatted pre {
		@include code;
		font-family: "Courier 10 Pitch", Courier, monospace;
		font-size: var(--font-size-base);
	}

	.wp-block-code {
		@include code;
		border: none;
		border-radius: 0;
	}

	// Columns
	.wp-block-columns {

		.wp-block-column {

		}

	}

	// Latest Comments
	.wp-block-latest-comments {
		margin: 0 0;

		&__comment-avatar {
			margin-top: var(--space-around);
		}

		&__comment {
			font-size: var(--font-size-base);
			margin: 0 0;
		}

		&__comment-date {
			font-size: var(--font-size-small);
		}

		&__comment-excerpt {

			p {
				margin: var(--space-around) 0 var(--space-around);
				font-size: 1em;
				line-height: 1.618;
			}
		}

		&.has-avatars {

			.wp-block-latest-comments__comment {

				.wp-block-latest-comments__comment-excerpt,
				.wp-block-latest-comments__comment-meta {
					margin-left: var(--space-separation);
				}
			}
		}

		&:not(.has-avatars):not(.has-dates):not(.has-excerpts) {

			.wp-block-latest-comments__comment {
				margin: 0;
				line-height: 1.618;
			}
		}

		br {
			display: inline;
			content: "";
		}
	}
}

/**
 * Editor-specific styles
 */

.editor-styles-wrapper {
	.wp-block-archives,
	.wp-block-categories,
	.wp-block-latest-posts {
		margin-left: auto;
		margin-right: auto;
	}
	.wp-block-latest-comments {
		margin-left: auto;
		margin-right: auto;
	}
	.wp-block-pullquote {
		margin-left: auto;
		margin-right: auto;
	}
}

/**
 * Widget blocks
 */

.widget {
	ul.wp-block-latest-posts,
	ul.wp-block-archives,
	ul.wp-block-categories {
		list-style: inside;
	}
}

// Top rated products
.wc-block-grid {

	img {
		display: block;
		margin: 0 auto;
	}
}
