/**
 * WooCommerce Advanced Product Labels
 */

/**
 * Imports
 */
@import "../../sass/utils/variables";
@import "../../sass/utils/css-variables";
@import "../../sass/vendors/modular-scale";

.wapl-flash,
.wapl-flash .product-label {
	font-size: 1em;
}

.wapl-flash,
.wapl-flash .product-label {
	width: ms(6);
	height: ms(6);
	line-height: ms(6);
	border: 0;
}

.wapl-label .product-label {
	padding: var(--space-around) var(--space-around);
	display: inline-block;
	margin: 0 auto;
	font-size: var(--font-size-small);

	&:empty {
		display: none;
	}
}

.wapl-label {
	margin-bottom: var(--space-around);
}
