/**
 * WooCommerce Product Bundles
 */

/**
 * Imports
 */

@import "../../sass/utils/variables";
@import "../../sass/utils/css-variables";
@import "../../sass/utils/mixins";
@import "susy";

/**
 * Base
 */

.bundle_form {

	div.bundled_product_summary {

		padding-bottom: var(--space-around) !important;
		margin-bottom: var(--space-around);
		border-bottom: 1px solid $color_border;

		padding-left: 0;

		.bundled_product_images {

			margin-left: 0;

			a {
				margin: 0 !important;
			}

			img {
				width: 100% !important;
				margin-bottom: 0;
			}
		}
	}

	div.bundled_product_summary,
	tr.bundled_product_summary {

		.details {
			font-size: var(--font-size-small);
		}
	}
}

.woocommerce,
.woocommerce-page {

	#content div.product,
	div.product {

		.bundle_form div.bundled_product_summary .bundled_product_images {

			@include span( 2 of 10 );
		}
	}
}

.bundle_form {

	div.bundled_product_summary:not(.thumbnail_hidden) {

		.details {

			@include span( last 8 of 10 );
		}
	}
}


.bundle_form {

	div.bundled_product_summary:not(.thumbnail_hidden) {

		.details {
			padding: 0 !important;
		}
	}
}

.bundled_table_item {

	.product-name {
		padding-left: 4rem;
	}
}

table.shop_table_responsive tr.bundled_table_item {
	display: none;
}

.bundle_table_item dl.bundle_configuration {
	display: none;
}

table.shop_table_responsive tr.bundled_table_item {
	display: table-row;
}

.sp-product-gallery-stacked,
.storefront-full-width-content,
.page-template-template-fullwidth-php {

	.bundle_form {

		.bundled_product_summary {

			.details {
				font-size: 1em;
			}
		}
	}
}

.sp-product-gallery-stacked,
.storefront-full-width-content,
.page-template-template-fullwidth-php {

	#content div.product,
	div.product {

		.bundle_form div.bundled_product_summary .bundled_product_images {

			@include span( 2 of 8 );
		}
	}

	.bundle_form {

		div.bundled_product_summary:not(.thumbnail_hidden) {

			.details {

				@include span( last 6 of 8 );
			}
		}
	}
}
