/**
 * WooCommerce Mix and Match
 */

/**
 * Imports
 */
@import "../../sass/utils/variables";
@import "../../sass/vendors/modular-scale";

.mnm_table {

	.product-thumbnail,
	.product-name,
	.product-quantity,
	.container-quantity {
		padding: var(--space-around) var(--space-around) !important;
	}

	.mnm_item {

		img {
			max-width: 100%;
		}
	}

	.product-name {
		vertical-align: middle;
	}
}

.cart,
.shop_table {

	.mnm_table_item {

		.product-thumbnail {

			img {
				max-width: 11em !important;
			}
		}

		.mnm_table_item_indent {
			padding-left: 0;
		}

		.product-name,
		.product-price,
		.product-quantity {
			font-size: 1em;
		}
	}
}
