/**
 * WooCommerce Product Recommendations
 */

/**
 * Imports
 */

@import "../../sass/utils/variables";
@import "../../sass/utils/css-variables";
@import "../../sass/utils/mixins";
@import "susy";
@import "../../sass/vendors/modular-scale";

/**
 * Base
 */
.wc-prl-recommendations {

	h2 {
		font-size: var(--font-size-subtitle);
	}

	&.wc-prl-page-product_details {

		&.wc-prl-location-before_tabs,
		&.wc-prl-location-after_tabs {

			h2 {
				margin-bottom: var(--space-around);
				text-align: center;
			}
		}

		&.wc-prl-location-after_summary {
			margin-top: var(--space-around);
		}
	}

	&.wc-prl-location-after_pay_button {
		margin-top: var(--space-around);
	}

	&.wc-prl-page-checkout {

		&.wc-prl-location-order_review {
			margin-top: var(--space-separation);
		}
	}
}
