/**
 * WooCommerce Smart Coupons
 */

/**
 * Imports
 */
@import "../../sass/utils/variables";
@import "susy";

.woocommerce,
.woocommerce-page {

	.coupon-container {
		margin: 0;
		box-shadow: none;

		&.medium {
			line-height: inherit;
			padding: var(--space-around);
		}
	}

	.generated_coupon_summary {
		margin: 0;
	}

	.coupon-content {

		&.small {
			padding: var(--space-around) var(--space-around);
		}

		.coupon-expire,
		.discount-info {
			font-family: inherit;
		}
	}

	#coupons_list {
		margin-bottom: var(--space-around);
	}
}

.sd-buttons-transparent {

	&.woocommerce,
	&.woocommerce-page {

		.coupon-container {
			background: transparent !important;
			padding: 0;
		}
	}
}

.sc_info_box {

	@include span(last 4 of 9);
	@include gutters(inside);
}

.page-template-template-fullwidth-php {

	.sc_info_box {

		@include span(last 5 of 12);
		margin-left: 0;
	}
}
