/**
 * WooCommerce
 */

/**
 * Imports
 */
@import "../sass/utils/variables";
@import "../sass/utils/css-variables";
@import "../sass/utils/mixins";

// Animations
@keyframes slideInDown {

	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideOutUp {

	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		visibility: hidden;
		transform: translate3d(0, -100%, 0);
	}
}

.price {

	ins {
		font-weight: 400;
	}
}

/**
* Header Elements
*/
.site-header-cart {
	position: relative;
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 0;

	.cart-contents {
		padding: var(--space-around);
		display: block;
		position: relative;
		background-color: transparent;
		height: auto;
		width: auto;
		text-indent: 0;

		.amount {
			margin-right: var(--space-between-inner);
		}

		.count {
			margin-right: var(--space-between-inner);
			font-weight: 400;
			opacity: 0.5;
			font-size: var(--font-size-small);
		}

		span {
			display: inline;
		}
	}

	&:hover,
	&:focus {

	}
}

.site-search {
	font-size: var(--font-size-small);

	.widget_product_search {

		input[type="text"],
		input[type="search"] {
			padding: var(--space-around) var(--space-around);
			line-height: 1;
		}

		form {

			margin: 0;
			&::before {
				top: 1.15em;
				left: 1.15em;
			}
		}

		#searchsubmit {

			@include screen-reader-text();
		}
	}
}

/**
 * Shop tables
 */
table.shop_table_responsive {

	thead {
		display: none;
	}

	tbody {

		th {
			display: none;
		}
	}

	tr {

		td {

			@include clearfix;

			display: block;
			text-align: right;
			clear: both;

			&[data-title] {

				&::before {
					content: attr(data-title) ": ";
					font-weight: 600;
					float: left;
				}
			}

			&.product-remove {

				a {
					text-align: left;
				}
			}

			&.actions,
			&.download-actions {

				&::before {
					display: none;
				}
			}

			&.download-actions {

				.button {
					display: block;
					text-align: center;
				}
			}
		}
	}

	&.my_account_orders {

		.order-actions {
			text-align: right;

			&::before {
				display: none;
			}
		}
	}
}

/**
 * Products
 */
ul.products {

	@include clearfix;
}

ul.products,
.wc-block-grid__products {
	margin-left: 0;
	margin-bottom: 0;
	clear: both;

	li.product,
	.wc-block-grid__product {
		list-style: none;
		margin-left: 0;
		margin-bottom: var(--space-separation);
		text-align: center;
		position: relative;

		.star-rating {
			margin: 0 auto var(--space-around);
		}

		.woocommerce-LoopProduct-link {
			display: block;
		}

		.price {
			display: block;
			color: var(--text_color);
			font-weight: 400;
			margin-bottom: 1rem;

			ins {
				margin-left: var(--space-around);
				background-color: transparent;
			}
		}

		.woocommerce-loop-product__title,
		.woocommerce-loop-category__title,
		.wc-block-grid__product-title,
		.wc-block-grid__product-title > a {
			font-weight: 400;
			margin-bottom: var(--space-around);
		}

		.woocommerce-loop-product__title,
		.woocommerce-loop-category__title,
		.wc-block-grid__product-title,
		.wc-block-grid__product-title > a:not(.has-font-size) {
			font-size: 1rem;
		}

		.star-rating {
			font-size: var(--font-size-small);
		}

		img {
			display: block;
			margin: 0 auto var(--space-around);
		}

		&.product-category {

			img {
				margin-bottom: var(--space-around);
			}
		}

		.button {
			margin-bottom: 0.236em;
		}
	}
}

.hentry .entry-content {

	.wc-block-grid__products .wc-block-grid__product,
	ul.products li.product {

		> a {
			text-decoration: none;
		}
	}
}

.price {

	del {
		opacity: 0.5;
		font-weight: 400;

		& + ins {
			margin-left: 0.327em;
		}
	}
}

/**
 * Single Product
 */
.single-product {

	.pswp__button {
		background-color: transparent;
	}

	div.product {

		position: relative;
		overflow: hidden;

		.images,
		.summary,
		.woocommerce-product-gallery {
			text-align: center;
			margin-bottom: var(--space-around);
			margin-top: 0;

			p {
				text-align: center;
			}
		}

		.woocommerce-product-gallery {
			position: relative;
			margin-bottom: var(--space-separation);

			.zoomImg {
				background-color: #fff;
			}

			.woocommerce-product-gallery__trigger {
				position: absolute;
				top: 0.6em;
				right: 0.6em;
				display: block;
				height: 2em;
				width: 2em;
				border-radius: 3px;
				z-index: 99;
				text-align: center;
			}

			img {
				margin: 0;
			}

			.flex-viewport {
				margin-bottom: var(--space-around);
			}

			.flex-control-thumbs {
				
				@include flex-row-header-footer;
				margin: 0;
				padding: 0;

				li {
					list-style: none;
					margin-bottom: var(--space-around);
					cursor: pointer;

					img {
						opacity: 0.5;
						transition: all, ease, 0.2s;

						&.flex-active {
							opacity: 1;
						}
					}

					&:hover {

						img {
							opacity: 1;
						}
					}
				}
			}
		}

		.images {

			margin-bottom: var(--space-separation);

			.woocommerce-main-image {
				margin-bottom: var(--space-around);
				display: block;
			}

			.thumbnails {

				a.zoom {
					display: block;
					width: 22.05%;
					margin-right: 3.8%;
					float: left;
					margin-bottom: 1em;

					&.last {
						margin-right: 0;
					}

					&.first {
						clear: both;
					}
				}
			}
		}

		form.cart {
			@include flex-row;
			justify-content: center;

			.quantity {
				margin-right: var(--space-around);
			}

			table.woocommerce-grouped-product-list {

				.woocommerce-grouped-product-list-item__label {

					@include wrap-break-word();
				}

				.woocommerce-grouped-product-list-item__quantity {
					float: none;
					margin-right: 0;

					.quantity {
						margin-right: 0;
					}
				}
			}
		}

		p.price {
			font-size: var(--font-size-subtitle);
			text-align: center;
		}

		table.variations {
			table-layout: fixed;
			margin: 0;

			th,
			td {
				display: list-item;
				padding: 0;
				list-style: none;
				background-color: transparent;
			}

			.value {
				margin-bottom: 1em;
			}

			select {
				max-width: 70%;
				vertical-align: middle;
			}
		}

		.single_variation {

			.price {
				margin-bottom: 1em;
				display: block;
			}
		}

		.variations_button {

			@include clearfix;
			padding-top: 1em;
		}

		.woocommerce-product-rating {

			display: inline-block;
			margin-bottom: var(--space-around);
			margin-top: - var(--space-around);
			text-align: left;

			a {
				@include underlined-link();
			}

			.star-rating {
				margin-right: var(--space-around);
			}
		}

		.product_meta {
			font-size: var(--font-size-small);

			.sku_wrapper,
			.posted_in,
			.tagged_as {
				display: block;

				&:last-child {
					border-bottom: 0;
				}
			}

			a {

				@include underlined-link();
			}
		}

		.edit-link {
			font-size: var(--font-size-small);
			margin-top: 1em;
		}
		
		table.woocommerce-product-attributes {
			th, td {
				border: var(--border-thin) solid var(--accent_color);
			}

		}
	}
}

.v-tabs-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-between-outer);
    width: 100%;
}

.v-tab {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stock {

	&:empty::before {
		display: none;
	}

	&.in-stock {
		color: $success;
	}

	&.out-of-stock {
		color: $error;
	}
}

a.reset_variations {
	display: inline-block;
	margin-left: 1em;
}

/**
 * Reviews
 */
#reviews {
	display: flex;
	flex-direction: column;
	gap: var(--space-between-outer);

	outline: none;
	padding: var(--space-around);

	#comments {
		padding-top: 0;
	}

	.comment-reply-title {
		display: none;
	}

	.commentlist {
		@include flex-col;

		list-style: none;
		margin-left: 0;

		li {
			list-style: none;

			.comment_container {
				margin-top: var(--space-between-outer);

				.comment-text {

					width: calc(5 / 6 * 100%); float: right;

					.star-rating {
						float: right;
						font-size: var(--font-size-small);
						line-height: 1;
						height: 1em;
					}
				}
			}

			&:last-child {
				border-bottom: 0;
				margin-bottom: 0;
			}

			time {
				opacity: 0.8;
				font-size: var(--font-size-small);
			}

			.avatar {

				width: 15%;
				float: left;
				height: auto;
			}

			p.meta {
				margin-bottom: 1em;

				strong {
					line-height: 1;
				}

				time {
					display: block;
				}

				.verified {
					font-style: normal;
					font-size: var(--font-size-small);
				}

				.woocommerce-review__dash {
					display: none;
				}
			}

			ul.children {
				margin: 0;

				width: calc(5 / 6 * 100%); float: right;
				padding-top: var(--space-separation);

				.avatar {

					width: 20%;
				}

				.comment-text {

					width: 70%;
					float: right;
				}

				li {
					margin-bottom: var(--space-around);

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.comment-form-rating {
		clear: both;

		label {
			display: block;
		}
	}

	.comment-form-author,
	.comment-form-email {
		width: 47%;
	}

	.comment-form-email {
		margin-right: 0;
	}

	.comment-respond {
		& p {
			text-align: left;
		}
	}
}

/**
 * Breadcrumbs
 */
.storefront-breadcrumb {
	margin: 0 0 var(--space-around);
	padding: 1em 0;
}

.woocommerce-breadcrumb {
	font-size: var(--font-size-small);
	color: var(--accent_color);

	a {
		color: var(--accent_color);
		text-decoration: underline;
	}

	.breadcrumb-separator {
		display: inline-block;
		padding: 0 var(--space-around);
	}
}

/**
 * Widgets
 */
.product_list_widget {
	list-style: none;
	margin-left: 0;

	li {
		padding: 1em 0;
		border-bottom: 1px solid var(--border_color);

		@include clearfix;

		img {
			max-width: 11em;
			float: right;
		}

		> a {
			display: block;
		}
	}

	a {

		&:hover {
			color: var(--link_color);
		}
	}
}

.widget {

	ul.products {

		li.product {

			a {
				text-decoration: none;
			}
		}
	}
}

.widget_products {

	a {
		display: block;
	}
}

.widget_layered_nav {

	li {
		margin-bottom: var(--space-around);
	}
}

.widget.woocommerce {

	li {

		.count {
			font-size: 1em;
			float: right;
		}
	}
}

.widget_price_filter {

	.price_slider {
		margin-bottom: 1em;
	}

	.price_slider_amount {
		text-align: right;
		line-height: 2.4;

		.button {
			float: left;
		}
	}

	.ui-slider {
		position: relative;
		text-align: left;
	}

	.ui-slider .ui-slider-handle {
		position: absolute;
		top: auto;
		z-index: 2;
		width: 1em;
		height: 1em;

		border-radius: 1em;
		cursor: ew-resize;
		background: var(--accent_color);
		box-sizing: border-box;
		margin-top: -0.25em;
		margin-left: auto;
		opacity: 1;
		border: 0;

		&:last-child {
			margin-left: -1em;
		}

		&:hover,
		&.ui-state-active {
			box-shadow: 0 0 0 0.236em rgba(#000, 0.1);
		}
	}

	.ui-slider .ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: 0.7em;
		display: block;
		border: 0;
		background: var(--accent_color);
		border-radius: 1em;
	}

	.price_slider_wrapper .ui-widget-content {
		border-radius: 1em;
		background: rgba(0, 0, 0, 0.1);
		border: 0;
	}

	.ui-slider-horizontal {
		height: 0.5em;
	}

	.ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%;
	}

	.ui-slider-horizontal .ui-slider-range-min {
		left: -1px;
	}

	.ui-slider-horizontal .ui-slider-range-max {
		right: -1px;
	}
}

/**
 * Right to left styles
 */

/*!rtl:begin:ignore*/
.rtl {

	.widget_price_filter {

		.price_label,
		.price_label span {
			direction: ltr;
			unicode-bidi: embed;
		}
	}
}

/*!rtl:end:ignore*/

/**
 * Cart
 */
table.cart {
	margin-bottom: var(--space-separation);

	.product-quantity .plus,
	.product-quantity .minus {
		display: none;
	}

	.product-thumbnail {

		img {
			margin: 0 auto;
			max-width: 18em;
			height: auto;
		}

		&::before {
			display: none;
		}
	}

	tr:first-child {

		td.product-remove {
			border-top-width: 0;
		}
	}

	td.product-remove {
		padding: 0;
		border-top: 6em solid;
		position: relative;

		a.remove {
			position: absolute;
			font-size: var(--font-size-subtitle);
			top: - 0.4em;
			right: - 0.4em;
		}
	}

	td.product-quantity {

		.qty {
			padding: 0.326em;
			width: 18em;
		}
	}

	td.product-name {

		@include wrap-break-word();
	}

	td,
	th {
		padding: var(--space-around) var(--space-around) 0;
	}

	td.product-subtotal {
		padding-bottom: var(--space-around);
	}

	td.actions {
		border-top: 1em solid;
		background-color: transparent;
		padding: 0;

		label {
			display: none;
		}

		.coupon {
			padding-bottom: 1em;
			margin-bottom: 1em;
			border-bottom: 1px solid var(--border_color);

			.coupon-error-notice {
				color: $error;
				text-align: left;
			}
		}

		input {
			display: block;
			width: 100%;
			margin: var(--space-around) 0;

			&.input-text.has-error {
				box-shadow: inset 2px 0 0 $error;
			}
		}
	}
}

.wc-proceed-to-checkout {

	@include clearfix;
	margin-bottom: var(--space-around);

	.button {
		display: block;
		text-align: center;
		margin-bottom: 1em;

		&.checkout-button {
			font-size: var(--font-size-subtitle);
		}
	}
}

.woocommerce-shipping-calculator {
	margin: 0;

	> p:first-child {
		margin: 0;
	}

	.shipping-calculator-form {
		padding-top: var(--space-around);
	}
}

ul#shipping_method {
	list-style: none;
	margin-left: 0;

	li {
		margin-bottom: var(--space-around);

		&:last-child {
			margin-bottom: 0;
		}
	}

	input {
		margin-right: var(--space-around);
	}
}

.woocommerce-checkout {

	ul#shipping_method {
		margin-bottom: 0;
	}
}

/**
 * Checkout
 *
 * 1 - Required to make the blockUI overlay cover the entire page rather than
 *     just the checkout form. We do this because otherwise our sticky order
 *     review can break out of the checkout form (and the blockUI element).
 */
.checkout_coupon {
	margin-bottom: var(--space-separation);

	.coupon-error-notice {
		color: $error;
	}

	.input-text.has-error {
		box-shadow: inset 2px 0 0 $error;
	}
}

form.checkout {

	@include clearfix;
	position: static !important; /* 1 */

	> .blockUI {
		position: fixed !important; /* 1 */
	}
}

#payment {

	@include clearfix;

	.create-account {
		clear: both;
	}

	.payment_methods {
		margin: 0 !important;
		padding: 0 !important;

		> .woocommerce-PaymentMethod,
		> .wc_payment_method {

			> label {
				display: block;
				padding: var(--space-around);
				cursor: pointer;
			}
		}

		li {
			list-style: none !important;
			margin-left: 0;
			position: relative;

			img {
				float: right;
				border: 0;
				padding: 0;
				max-height: 6em;
			}

			&:last-child:not(.woocommerce-notice) {
				padding-bottom: 0;
				border-bottom: 0;
			}

			p {
				margin: 0;
			}

			.payment_box {
				padding: var(--space-around);

				fieldset {
					border: 0;
					margin: 0;
					padding: 1em 0 0;
					font-size: var(--font-size-small);

					label {
						width: auto;
						margin-left: 0;
					}

					.form-row {
						margin-bottom: 1em;

						input[type="checkbox"] {
							margin-right: 5px;
						}
					}

					#cvv {
						width: 22% !important;
					}

					.help {
						width: 75%;
						float: right;
					}
				}

				.woocommerce-SavedPaymentMethods {
					padding-top: 1em;
					margin: 0;

					li {
						margin-top: var(--space-around);

						input[type="radio"] {
							margin-right: 0.236em;
						}
					}
				}

				ul.wc-saved-payment-methods {
					margin-left: 0;
				}

				.wc-credit-card-form-card-number,
				.wc-credit-card-form-card-expiry,
				.wc-credit-card-form-card-cvc {
					font-size: var(--font-size-subtitle);
				}

				.wc-credit-card-form-card-number {
					background-repeat: no-repeat;
					background-position: right 0.4em center;
					background-size: 31px 20px;
					background-image: url(../../../assets/images/credit-cards/unknown.svg);

					&.visa {
						background-image: url(../../../assets/images/credit-cards/visa.svg);
					}

					&.mastercard {
						background-image: url(../../../assets/images/credit-cards/mastercard.svg);
					}

					&.laser {
						background-image: url(../../../assets/images/credit-cards/laser.svg);
					}

					&.dinersclub {
						background-image: url(../../../assets/images/credit-cards/diners.svg);
					}

					&.maestro {
						background-image: url(../../../assets/images/credit-cards/maestro.svg);
					}

					&.jcb {
						background-image: url(../../../assets/images/credit-cards/jcb.svg);
					}

					&.amex {
						background-image: url(../../../assets/images/credit-cards/amex.svg);
					}

					&.discover {
						background-image: url(../../../assets/images/credit-cards/discover.svg);
					}
				}
			}
		}
	}

	.terms {
		width: 100%;
		clear: both;
		float: none;
		margin-bottom: 1em;

		label {
			display: block;
			cursor: pointer;
		}
	}

	.woocommerce-terms-and-conditions {
		padding: var(--space-around);
		box-shadow: inset 0 1px 3px rgba(#000, 0.2);
		margin-bottom: 16px;
		background-color: var(--container_color);
	}

	.place-order {
		padding: var(--space-around);
		margin-bottom: 0;
		float: none;
		width: 100%;
		margin-top: var(--space-separation);

		.button {
			font-size: var(--font-size-subtitle);
			width: 100%;
			white-space: pre-wrap;
		}
	}
}

table.woocommerce-checkout-review-order-table {

	.product-name {
		width: 45%;

		@include wrap-break-word();
	}
}

.admin-bar {

	.woocommerce-checkout {

		#wc_checkout_add_ons label + br {
			display: none;
		}
	}
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	font-weight: 600;
	padding: var(--space-around) 0;
	text-align: right;
	font-size: var(--font-size-small);

	&.strong {
		color: $success;
	}

	&.short {
		color: $error;
	}

	&.bad {
		color: $error;
	}

	&.good {
		color: $info;
	}
}

/**
 * My Account
 */
label.inline {
	display: inline !important;
	margin-left: var(--space-around);
}

.hentry .entry-content {

	.woocommerce-MyAccount-navigation {

		ul {
			margin-left: 0;
			border-top: 1px solid var(--border_color);

			li {
				list-style: none;
				border-bottom: 1px solid var(--border_color);
				position: relative;

				&.woocommerce-MyAccount-navigation-link {

					a {
						text-decoration: none;
						padding: var(--space-around) 0;
						display: block;
					}
				}
			}
		}
	}
}

ul.order_details {

	@include clearfix;
	list-style: none;
	position: relative;
	margin: var(--space-separation) 0;

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		top: -16px;
		left: 0;
		width: 100%;
		height: 16px;
		background-size: 0 100%, 16px 16px, 16px 16px;

	}

	&::after {
		top: auto;
		bottom: -16px;
		transform: rotate(180deg);
	}

	li {
		padding: 1em var(--space-around);
		font-size: 0.8em;
		text-transform: uppercase;

		&:first-child {
			padding-top: var(--space-separation);
		}

		&:last-child {
			border: 0;
			padding-bottom: var(--space-separation);
		}

		strong {
			display: block;
			font-size: var(--font-size-subtitle);
			text-transform: none;
		}
	}
}

.my_account_orders,
.woocommerce-MyAccount-downloads {

	.button {
		padding: var(--space-around) var(--space-around);
		font-size: var(--font-size-small);
		margin-right: 0.236em;
	}
}

.woocommerce-MyAccount-content {

	h2 {
		font-size: 2em;
		font-weight: 600;
	}

	#payment {

		.payment_methods {
			margin-bottom: var(--space-around) !important;
		}
	}
}

/**
 * General WooCommerce components
 */

.woocommerce-form__label-for-checkbox {
	cursor: pointer;
	display: block;

	.woocommerce-form__input-checkbox {
		margin-right: var(--space-around);
	}
}

.form-row {

	label {
		display: block;
	}

	input,
	textarea,
	select {
		width: 100%;
	}

	input[type="checkbox"],
	input[type="radio"] {
		width: auto;
	}

	.button {
		width: auto;
	}

	&.create-account {

		label {
			display: inline-block;
		}
	}

	&.woocommerce-validated {

		input.input-text {
			box-shadow: inset 2px 0 0 $success;
		}
	}

	&.woocommerce-invalid {

		input.input-text {
			box-shadow: inset 2px 0 0 $error;
		}

		input.input-checkbox {
			outline: 2px solid $error;
			outline-offset: 1px;
		}

		.select2-selection {
			border-color: $error;
			border-width: 2px;
		}
	}
}

.form-row-last {
	margin-right: 0 !important;
}

.form-row-wide {
	clear: both;
	width: 100%;
}

.required {
	border-bottom: 0 !important;
	color: $error;
}

.password-input {
	display: block;
	position: relative;
}

.show-password-input {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.618em;
	line-height: 1.618;
	cursor: pointer;
}

.show-password-input::after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	content: "\f06e";
}

.show-password-input.display-password::after {
	color: #e8e8e8;
}

.demo_store {
	position: fixed;
	left: 0;
	bottom: 69px;
	right: 0;
	margin: 0;
	padding: 1em var(--space-around);
	background-color: $info;
	color: #fff;
	z-index: 9998;

	a {
		color: #fff;
		font-weight: 400;
		text-decoration: underline;

		&.woocommerce-store-notice__dismiss-link {
			display: block;
		}
	}
}

.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.55em;
	font-family: "Font Awesome 5 Free";
	font-weight: 400;

	&::before,
	span::before {
		content: "\f005\f005\f005\f005\f005";
		top: 0;
		left: 0;
		position: absolute;
	}

	&::before {
		opacity: 0.25;
		float: left;
	}

	span {
		overflow: hidden;
		float: left;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
		color: var(--accent_color);
	}
}

p.stars {
	display: inline-block;
	margin: 0;

	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		overflow: hidden;
		display: inline-block;
		text-decoration: none;
		font-weight: 400;

		&::before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 1em;
			height: 1em;
			line-height: 1;
			font-family: "Font Awesome 5 Free";
			content: "\f005";
			font-size: 0.95em; // Font-awesome glyph is rectangular.
			color: var(--text_color);
			text-indent: 0;
			opacity: 0.25;
		}

		&:hover {
			text-shadow: unset;

			~ a::before {
				color: var(--text_color);
				opacity: 0.25;
			}
		}
	}

	&:hover {

		a {

			&::before {
				color: $color_woocommerce;
				opacity: 1;
			}
		}
	}

	&.selected {

		a.active {

			&::before {
				color: $color_woocommerce;
				opacity: 1;
			}

			~ a::before {
				color: var(--text_color);
				opacity: 0.25;
			}
		}

		a:not(.active) {

			&::before {
				color: $color_woocommerce;
				opacity: 1;
			}
		}
	}
}

.wc-block-grid__product-onsale,
.onsale {
	border: 1px solid;
	border-color: var(--border-color);
	color: var(--text_color);
	padding: 0.202em var(--space-around);
	font-size: var(--font-size-small);
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
	margin-bottom: 1em;
	border-radius: 3px;
	position: relative;
}

.quantity {

	.qty {
		width: var(--min-button-width);
		text-align: center;
	}
}

.storefront-sorting {
	font-size: var(--font-size-small);
	margin-bottom: var(--space-separation);
}

.woocommerce-tabs {

	@include clearfix;
	overflow: hidden;
	padding: 1em 0;

	ul.tabs {
		list-style: none;
		margin-left: 0;
		text-align: left;
		border-top: 1px solid var(--border_color);

		li {
			display: block;
			margin: 0;
			border-bottom: 1px solid var(--border_color);
			position: relative;

			a {
				padding: 1em 0;
				display: block;
			}
		}
	}

	.panel {

		h2:first-of-type {
			font-size: var(--font-size-subtitle);
			margin-bottom: 1em;
		}
	}
}

.related,
.upsells {

	> h2:first-child {
		font-size: var(--font-size-subtitle);
		margin-bottom: 1em;
	}
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {

	margin: var(--space-separation);
	border-radius: 2px;
	color: var(--text_color);
	padding: 1em 2em 1em 3.5em;
	position: relative;
	list-style: none outside;
	box-shadow: var(--drop-shadow);

	&::before {
		font-family: "Font Awesome 5 Free";
		content: "\f06a";
		display: inline-block;
		position: absolute;
		top: 1.05em;
		left: 1.5em;
		color: var(--accent_color);
	}

	.button {
		float: right;
		margin-left: 1em;

		@include button;

	}

	pre {
		background-color: rgba(0, 0, 0, 0.1);
	}
}

.woocommerce-message {

	&::before {
		content: "\f058";
	}
}

.site-content {

	> .col-full {

		> .woocommerce {

			> .woocommerce-message,
			> .woocommerce-info,
			> .woocommerce-error {

				&:first-child {
					margin-top: var(--space-separation);
				}
			}
		}
	}
}

.woocommerce-error {
	list-style: none;
}

.woocommerce-info.woocommerce-no-products-found {
	background-color: transparent;
	border: none;
	color: inherit;
	padding: 1em 0;

	&::before,
	&::after {
		content: none;
	}
}


.woocommerce-error {
	background-color: $error;
}

dl.variation {
	font-size: var(--font-size-small);

	dd {
		margin: 0 0 1em;
	}
}

.wc-item-meta {
	font-size: var(--font-size-small);
	margin-left: 0;
	list-style: none;

	li {

		@include clearfix;

		strong,
		p {
			display: inline-block;
		}
	}
}

/**
 * My Account
 */
.woocommerce-MyAccount-content {

	.woocommerce-Pagination {
		text-align: center;
	}
}

/**
 * Homepage
 */
.storefront-product-section {
	margin-bottom: var(--space-around);

	.section-title {
		text-align: center;
		margin-bottom: var(--space-around);
	}

	&:last-child {
		margin-bottom: 0;
	}
}

/**
 * Single Product Pagination
 */
.storefront-product-pagination {
	display: none;
}

.demo_store {
	bottom: 0;

	a {

		&.woocommerce-store-notice__dismiss-link {
			background: rgba(#000, 0.1);
			float: right;
			display: inline-block;
			margin: -1em -1.41575em -1em 0;
			padding: 1em var(--space-around);
		}
	}
}

/**
* Breadcrumbs
*/
.storefront-breadcrumb {
	padding: var(--space-around) 0;
	margin: 0 0 var(--space-separation);
}

/**
* Responsive tables
*/
table.shop_table_responsive {

	thead {
		display: table-header-group;
	}

	tbody {

		th {
			display: table-cell;
		}
	}

	tr {

		td {
			display: table-cell;

			&::before {
				display: none;
			}
		}
	}
}

/**
* Reset mobile product styles
*/
ul.products,
.wc-block-grid__products {

	li.product,
	.wc-block-grid__product {
		clear: none;
		width: 100%;
		float: left;
		font-size: var(--font-size-small);

		&.first {
			clear: both !important;
		}

		&.last {
			margin-right: 0 !important;
		}
	}
}

/**
* Main content area product layout
*/
.site-main {

	ul.products {

		li.product {

			width: calc(3 / 9 * 100%);
		}

		&.columns-1 {

			li.product {
				width: 100%;
				margin-right: 0;
				float: none;
			}
		}

		// The grid wont work for 2 columns :-(
		&.columns-2 {

			li.product {
				width: 48%;
				margin-right: 3.8%;
			}
		}

		&.columns-3 {

			li.product {

				width: calc(3 / 9 * 100%);
			}
		}

		// The grid wont work for 4 columns :-(
		&.columns-4 {

			li.product {
				width: 22.05%;
				margin-right: 3.8%;
			}
		}

		// The grid wont work for 5 columns :-(
		&.columns-5 {

			li.product {
				width: 16.9%;
				margin-right: 3.8%;
			}
		}

		&.columns-6 {

			li.product {

				width: calc(1.5 / 9 * 100%);
			}
		}
	}
}

/**
* Single product page
*/

.woocommerce .page-description {
	margin-bottom: var(--space-around);
}

.storefront-sorting {

	@include clearfix;
	margin-bottom: var(--space-separation);

	select {
		width: auto;
	}
}

.woocommerce-result-count {
	float: left;
	position: relative;
	margin-bottom: 0;
	padding: 0.327em 0;
}

.woocommerce-ordering {
	float: left;
	margin-right: 1em;
	margin-bottom: 0;
	padding: 0.327em 0;
}

.woocommerce-pagination {
	float: right;
	border: 0;
	clear: none;
	padding: 0;
	margin-bottom: 0;
}

/**
* Cart
*/
.woocommerce-cart,
.woocommerce-checkout {

	.hentry {
		border-bottom: 0;
		padding-bottom: 0;
	}
}

table.cart {

	th,
	td {
		padding: var(--space-separation);
	}

	.qty {
		padding: var(--space-around);
		max-width: 3.632em;
	}

	td.product-remove {
		display: table-cell;
		padding: var(--space-separation);
		border: 0;

		a.remove {
			float: none;
			position: relative;
			top: auto;
			right: auto;
			font-size: var(--font-size-base);
		}
	}

	.product-quantity .plus,
	.product-quantity .minus {
		display: inline-block;
	}

	.quantity {

		.qty {
			padding: var(--space-around);
		}
	}

	td.actions {
		text-align: right;

		label {
			display: none;
		}

		.coupon {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: none;
			display: inline-block;
			float: left;
		}

		input {
			display: inline-block;
			width: auto;
			margin: 0;
		}
	}
}

.cart-collaterals {

	@include clearfix;

	h2 {
		font-size: var(--font-size-subtitle);
	}

	.cross-sells {

		width: calc(4 / 9 * 100%);
	}

	.cart_totals,
	.shipping_calculator {

		width: calc(5 / 9 * 100%); float: right;
		margin: 0;
		clear: right;
	}

	.cart_totals {

		small.includes_tax {
			display: block;
		}
	}

	.shipping_calculator {
		clear: right;
	}
}

/**
* Checkout
*/
#ship-to-different-address {
	position: relative;

	label {
		font-weight: 300;
	}

	.woocommerce-form__input-checkbox {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		margin-right: 0;
	}
}

.col2-set {

	width: calc(5 / 9 * 100%);

	.form-row-first {

		width: 50%;
	}

	.form-row-last {

		width: 50%; float: right;
	}

	.col-1,
	.col-2 {
		margin-bottom: var(--space-around);
	}

	& + #customer_details {
		display: none;
	}

	.woocommerce-billing-fields {

		@include clearfix;
	}

	&.addresses {

		width: 100%;

		.col-1 {

			width: calc(4.5 / 9 * 100%);
		}

		.col-2 {

			width: calc(4.5 / 9 * 100%); float: right;
		}
	}
}

#customer_details + #wc_checkout_add_ons {

	width: calc(4 / 9 * 100%); float: right;
}

#wc_checkout_add_ons {

	input[type="radio"] {
		float: left;
		margin-right: var(--space-around);
		clear: left;
		margin-top: 0.35em;
	}
}

#order_review_heading,
#order_review {

	width: calc(4 / 9 * 100%); float: right;
	clear: right;
}

#order_review {
	transition: box-shadow ease 0.4s;
}

#order_review_heading {
	margin-bottom: 0;
	padding-bottom: var(--space-around);
}

// Payment forms in account
.woocommerce-order-pay {

	#order_review {
		width: 100%;
		float: none;

		#payment {

			h3 {
				padding-left: 1em;
				padding-top: 1em;
			}

			.form-row {
				padding: 1em;
			}
		}

		.payment_methods + .form-row {
			padding: 1em;
		}

		.button#place_order {
			display: block;
			width: 100%;
			font-size: var(--font-size-subtitle);
		}
	}
}

#order_review {

	.shop_table {
		margin-bottom: var(--space-separation);
	}
}

/**
* My Account
*/
table + .addresses {
	margin-top: var(--space-around);
}

.col2-set#customer_login,
.col2-set.addresses {

	width: 100%;

	.col-1 {

		width: calc(4 / 9 * 100%);
	}

	.col-2 {

		width: calc(5 / 9 * 100%); float: right;
	}
}


.woocommerce-MyAccount-navigation {

	width: calc(2 / 9 * 100%);
}

.woocommerce-MyAccount-content {

	width: calc(7 / 9 * 100%); float: right;

	.form-row-first {

		width: calc(3 / 7 * 100%);
	}

	.form-row-last {

		width: calc(4 / 7 * 100%); float: right;
	}
}

table.my_account_orders {
	font-size: var(--font-size-small);
}

.addresses {

	header.title {

		@include clearfix;

		a {
			float: right;
			overflow: hidden;
		}

		h3 {
			float: left;
		}
	}
}

/**
* General WooCommerce Components
*/
.form-row-first {

	width: 50%;
	clear: both;
}

.form-row-last {

	width: calc(4.5 / 9 * 100%); float: right;
}

.woocommerce-tabs {
	padding-top: var(--space-separation);
	padding-bottom: var(--space-separation);

	ul.tabs {

		width: calc(3 / 9 * 100%);

		li {

			&.active::after {
				right: 1em;
			}
		}
	}

	.panel {

		width: calc(6 / 9 * 100%); float: right;
		margin-top: 0;
	}
}

/**
* Single Product Pagination
*/
.storefront-product-pagination {
	display: block;

	a {
		position: fixed;
		top: 50%;
		width: 500px;
		box-shadow: 0 0 5px rgba(#000, 0.2);
		z-index: 1499; /* Lower than PhotoSwipe */
		display: flex;
		align-items: center;

		img {
			max-width: 90px;
			border-radius: 0;
		}

		&[rel="prev"] {
			left: -455px;
			transition: left 0.3s ease-out;
			flex-direction: row-reverse;
			padding-left: var(--space-around);

			&:hover {
				left: 0;
			}

			img {
				margin-left: var(--space-around);
			}

			.storefront-product-pagination__title {
				margin-right: auto;
			}
		}

		&[rel="next"] {
			right: -455px;
			transition: right 0.3s ease-in;
			padding-right: var(--space-around);

			&:hover {
				right: 0;
			}

			img {
				margin-right: var(--space-around);
			}

			.storefront-product-pagination__title {
				margin-left: auto;
			}
		}
	}
}

/**
* Sticky Add to Cart
*/
.storefront-sticky-add-to-cart {
	$container_height: 100px;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20000;
	transform: translate3d(0, -100%, 0);
	overflow: hidden;
	zoom: 1;
	box-shadow: var(--drop-shadow);
	animation-duration: 0.5s;
	animation-fill-mode: both;

	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		background-color: var(--container_color);
		opacity: 0.9;
	}

	* {
		z-index: 20001;
	}

	&--slideInDown {
		animation-name: slideInDown;
	}

	&--slideOutUp {
		animation-name: slideOutUp;
	}

	&__content {
		@include flex-row;
		align-items: center;
		justify-content: center;

		max-height: $container_height;

		&-title {
			display: block;
		}

		&-price {
			margin-right: var(--space-around);
			opacity: 0.5;
		}

		&-button {
			text-align: center;
		}
	}

	.col-full {
		padding: var(--space-around);
	}

	img {
		flex: 0 1 125px;
		// Resize to fit parent maintaining aspect ratio
		max-width: $container_height;
		object-fit: contain;
		border: var(--border-thin) solid var(--border_color);
	}

	.star-rating {
		display: inline-block;
		margin: 0;
		vertical-align: bottom;
	}
}

.admin-bar {

	.storefront-sticky-add-to-cart {

		&--slideInDown {
			top: 32px;
		}
	}
}
