:root {
	/* Spacing */
    --space-between-inner: 5px;
    --space-between-outer: 15px;
    --space-around: 10px;
    --space-separation: 30px;
    --content-width: 768px;

	/* Font sizes */
    --font-size-small: 0.8rem;
    --font-size-base: 1rem;
    --font-size-subtitle: 2rem;
    --font-size-title: 3rem;

    /* Components */
    --min-button-width: 80px;
    --border-thin: 1px;
    --border-thick: 3px; 
}

/***

Variables set in the customiser:
'text_color'
'heading_color'
'accent_color'
'link_color'
'border_color'
'container_color'
'header_background_color'
'header_text_color'
'footer_background_color'
'footer_text_color'
'button_background_color'
'button_text_color'
'background_color'

*/