:root {
	/* Spacing */
    --space-between-inner: 5px;
    --space-between-outer: 15px;
    --space-around: 10px;
    --space-separation: 30px;

	/* Font sizes */
    --font-size-small: 0.8rem;
    --font-size-base: 1rem;
    --font-size-subtitle: 2rem;
    --font-size-title: 3rem;
}