@mixin clearfix {

	&::before,
	&::after {
		content: "";
		display: table;
	}

	&::after {
		clear: both;
	}
}

@mixin screen-reader-text() {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

@mixin underlined-link() {
	font-weight: 600;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

// Remove underline if element has a button class.
@mixin remove-button-underline() {

	&.button,
	&.components-button:not(.is-link),
	&.wp-block-button__link {
		text-decoration: none;
	}
}

@mixin button() {
	display: inline-block;
	min-width: var(--min-button-width);
	padding: var(--padding-small) var(--padding-large);
	border: solid var(--border-thin) var(--border_color);
	border-radius: var(--rounded-corner-small);
	outline: none;
	box-shadow: var(--drop-shadow);
	background-color: var(--button_background_color);
	cursor: pointer;
	color: var(--button_text_color);
	text-decoration: none;
	text-align: center;
	font-size: var(--font-size-base);
	font-weight: 600;
	text-shadow: none;
	-webkit-appearance: none;

	&:hover {
		filter: brightness(var(--brightness-on-hover));
	}

	&.small {
		min-width: unset;
		font-size: var(--font-size-small);
	}

	&.disabled,
	&:disabled {
		opacity: 0.5 !important;
		cursor: not-allowed;
		filter: saturate(50%);

		&:hover {
			opacity: 0.5 !important;
			filter: saturate(50%);
		}
	}

}

@mixin wrap-break-word {
	// https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap
	// https://developer.mozilla.org/en-US/docs/Web/CSS/word-break
	// This is the current standard, works in most browsers.
	overflow-wrap: anywhere;
	// Safari supports word-break.
	word-break: break-word;
	// We also need word-wrap and for IE.
	-ms-word-break: break-all;
}

// Flexboxes
@mixin flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: var(--space-between-inner);
}

@mixin flex-row-header-footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: var(--space-between-outer);
}

// Standardize scrollbar appearance
@mixin scrollbar-on-hover-x {
    overflow-x: auto;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    &::-webkit-scrollbar-thumb {
        width: 0;
        height: 0;
    }
    &::-webkit-scrollbar-track {
        width: 0;
        height: 0;
    }

    &::-webkit-scrollbar:hover {
        width: unset;
        height: unset;
    }
    &::-webkit-scrollbar-thumb:hover {
        width: unset;
        height: unset;
    }
    &::-webkit-scrollbar-track:hover {
        width: unset;
        height: unset;
    }

    scrollbar-width: none;

    &:hover {
		scrollbar-width: thin;
    }
}
