/**
 * Jetpack Widgets
 */

// Imports
@import "../sass/utils/variables";
@import "../sass/utils/mixins";


// Subscription widget
.jetpack_subscription_widget {

	#subscribe-email {

		input {
			padding: var(--space-around) !important;
			width: 100% !important;
		}
	}
}

// Google Translate widget
.widget_google_translate_widget {

	img {
		display: inline;
	}

	a {
		text-decoration: none !important;
	}
}
